<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-5 p-4 d-flex align-items-center">
      <img
        src="/src/img/big/{{ data.img }}"
        class="img-fluid rounded mx-auto d-block"
        alt="{{ data.img }}"
      />
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h1 class="card-title text-end">{{ data.title }}</h1>
        <h3 class="card-title text-end text-primary mb-5">
          {{ data.price|number_format(2, '.', ' ') }} ₽
        </h3>
        <p class="card-text">{{ data.description }}</p>
        <div class="d-flex justify-content-center">
          <a
            href="?path=cart/add/{{ data.id }}"
            type="button"
            class="btn btn-primary my-2"
            >Купить</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card p-4">
  <h2 class="text-secondary">Отзывы:</h2>
  <form action="?path=comment/id/{{ data.id }}" method="POST">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Ваше имя</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        name="name"
        required
      />
    </div>
    <div class="mb-4">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Ваш отзыв</label
      >
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        name="review"
        required
      ></textarea>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-outline-secondary" name="upload" type="submit">
        Оставить отзыв
      </button>
    </div>
  </form>
  {% if reviews %} {% for review in reviews %}
  <dl class="row p-3">
    <dt class="col-lg-2">{{ review.name }}</dt>
    <dd class="col-lg-10">
      <p>{{ review.review }}</p>
      <p class="text-secondary text-end">
        <em>{{ review.date }}</em>
      </p>
    </dd>
  </dl>
  {% endfor %} {% else %}
  <div class="alert alert-secondary text-center mt-3" role="alert">
    Нет отзывов о товаре!
  </div>
  {% endif %}
</div>
